{% extends "base.html" %}
{% block title %}
  {{ title }} {{ action }}
{% endblock title %}
{% block content %}
  <div class="d-flex flex-column mt-5 pb-5">
    <div style="width: 20rem;" class="m-auto">
      <h3 class="mb-4 text-center">{{ title }} {{ action }}</h3>
      {% if action == "Delete" %}
        <p class="text-center">
          {{ title }} <b>{{ name }}</b> will be permanently delete.
        </p>
      {% endif %}
      {% load django_bootstrap5 %}
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if action == "Update" %}
          {% bootstrap_button button_type="submit" button_class="btn-warning w-100 py-2 mt-3" content="Save" %}
          {% url delete_link pk as delete %}
          {% bootstrap_button button_type="link" button_class="btn-danger w-100 py-2 mt-3" content="Delete" href=delete %}
        {% elif action == "Delete" %}
          {% bootstrap_button button_type="submit" button_class="btn-danger w-100 py-2 mt-3" content="Delete" %}
        {% else %}
          {% bootstrap_button button_type="submit" button_class="btn-warning w-100 py-2 mt-3" content="Save" %}
        {% endif %}
      </form>
      {% url back_link as list %}
      {% bootstrap_button button_type="link" button_class="btn-secondary w-100 py-2 mt-3" content="Back" href=list %}
    </div>
  </div>
{% endblock content %}
