{% if page_obj.has_other_pages %}
  <nav aria-label="Standard pagination example">
    <ul class="pagination justify-content-center ">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link bg-light text-secondary" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}"
             aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item">
            <span class="page-link bg-secondary text-light">{{ i }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link bg-light text-secondary" href="?{{ request.GET.urlencode }}&page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link bg-light text-secondary" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}