{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Delete Profile
{% endblock %}
{% block content %}
  <div class="d-flex flex-column mt-5 pb-5">
    <div style="width: 20rem;" class="m-auto">
      <h3 class="mb-4 text-center text-danger">Delete Profile</h3>
      <p class="text-center">This will permanently delete your entire account!</p>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        {% bootstrap_button button_type="submit" button_class="btn-danger w-100 py-2 mt-3" content="Delete Profile" %}
        {% include "include/button/back_to_profile.html" %}
      </form>
    </div>
  </div>
{% endblock %}