{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Login
{% endblock %}
{% block content %}
  <div class="d-flex flex-column mt-5">
    <div style="width: 20rem;" class="m-auto">
      <h3 class="mb-4 text-center">Please login</h3>
      <form method="POST" action="{% url "login" %}">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        <input type="hidden" name="next" value="{{ next }}">
        {% bootstrap_button button_type="submit" button_class="btn-warning w-100 py-2 mt-3" content="Login" %}
      </form>
      <div class="pt-3 text-center">
        <a href="{% url "password_reset" %}">Forgot Password?</a>
      </div>
      <div class="pt-3 text-center">
        <p>Not a member? <a href="{% url "signup" %}">Register</a></p>
      </div>
    </div>
  </div>
{% endblock %}
