{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Password Reset
{% endblock %}
{% block content %}
  <div class="d-flex flex-column mt-5">
    <div style="width: 20rem;" class="m-auto">
      <h3 class="mb-4 text-center">Password Reset</h3>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        {% bootstrap_button button_type="submit" button_class="btn-warning w-100 py-2 mt-3" content="Password Reset" %}
      </form>
      {% if user.is_authenticated %}
        {% include "include/button/back_to_profile.html" %}
      {% else %}
        {% include "include/button/go_home.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}