{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Password Reset Sent
{% endblock %}
{% block content %}
  <div class="d-flex flex-column mt-5">
    <div style="width: 20rem;" class="m-auto">
      <h3 class="mb-4 text-center">Password Reset Sent</h3>
      <p class="text-center">
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>
      <p class="text-center">
        If you don’t receive an email, please make sure you’ve entered the address you registered with,
        and check your spam folder.
      </p>
      {% if user.is_authenticated %}
        {% include "include/button/back_to_profile.html" %}
      {% else %}
        {% include "include/button/go_home.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}