{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Enter New Password
{% endblock %}
{% block content %}
  <div class="d-flex flex-column mt-5">
    <div style="width: 20rem;" class="m-auto">
      {% if validlink %}
        <h3 class="mb-4 text-center">Enter New Password</h3>
        <form method="POST">
          {% csrf_token %}
          {% bootstrap_form form show_label=False %}
          {% bootstrap_button button_type="submit" button_class="btn-warning w-100 py-2 mt-3" content="Change Password" %}
        </form>
      {% else %}
        <h3 class="mb-4 text-center">Invalid link</h3>
        <p class="text-center">The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
        {% url "password_reset" as reset %}
        {% bootstrap_button button_type="link" button_class="btn-secondary w-100 py-2 mt-3" content="Password Reset" href=reset %}
        {% if user.is_authenticated %}
        {% include "include/button/back_to_profile.html" %}
        {% else %}
          {% include "include/button/go_home.html" %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}